body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}
.homeMain {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
canvas {    
    max-height: 100vh;
    width: 100%;
}
.homeMain section {
    min-width: 35vw;
}
form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
input {
    padding: 0.625rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #1E1E1E;
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
}

.row input {
    width: 100%;
}

.row div {
    height: 1px;
    background-color: #fff;
    width: 100%;
}

button {
    cursor: pointer;
}
.homeMain h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}